<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cesium Flask App</title>
    <!-- Dependancies -->
    <script src="https://cesium.com/downloads/cesiumjs/releases/1.95/Build/Cesium/Cesium.js"></script>
    <link href="https://cesium.com/downloads/cesiumjs/releases/1.95/Build/Cesium/Widgets/widgets.css" rel="stylesheet">
    <!-- <script src={{ url_for('static',filename='Cesium/Cesium.js') }}></script>
    <link href={{ url_for('static',filename='css/widgets.css') }} rel="stylesheet"> -->
    <link href={{ url_for('static',filename='css/style.css') }} rel="stylesheet">
    <link rel="icon"  href={{ url_for('static',filename='css/favicon.ico') }}/>
</head>
<body>
    <div id="cesiumContainer"></div>
    <div id="toolbar">
      <table>
        <tbody data-bind="foreach: layers">
          <tr data-bind="css: { up: $parent.upLayer === $data, down: $parent.downLayer === $data }">
            <td><input type="checkbox" data-bind="checked: show"></td>
            <td>
              <span data-bind="text: name, visible: !$parent.isSelectableLayer($data)"></span>
              <select data-bind="visible: $parent.isSelectableLayer($data), options: $parent.baseLayers, optionsText: 'name', value: $parent.selectedLayer"></select>
            </td>
            <td>
              <input type="range" min="0" max="1" step="0.01" data-bind="value: alpha, valueUpdate: 'input'">
            </td>
            <td>
              <button type="button" class="cesium-button" data-bind="click: function() { $parent.raise($data, $index()); }, visible: $parent.canRaise($index())">
                ▲
              </button>
            </td>
            <td>
              <button type="button" class="cesium-button" data-bind="click: function() { $parent.lower($data, $index()); }, visible: $parent.canLower($index())">
                ▼
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div id="toolbar2"></div>
    <script src={{ url_for('static',filename='js/CesiumContainer.js') }} ></script>
  </body>
  </html>